@import "tailwindcss";

@theme {
  --color-primary: #6467f2;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101122;
}

body {
  font-family: "Inter", sans-serif;
  @apply bg-background-light text-slate-900 antialiased;
}

/* Smooth hover lift for product cards */
.product-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-4px);
}
